<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shotcut icon" href="{{ url_for('static', filename='favicon.png') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
    <title>WebSVN - HydraGames</title>
</head>
<body>
    <h1>{{mensagem}}</h1>
    <p><a href="/">Voltar</a></p>
</body>
</html>